@import "@/assets/styles/breakpoints.scss";

.successStoriesSection {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  background-color: #ffffff;

  @include mobile {
    padding-top: 5rem;
    padding-bottom: calc(5rem + 68px);
  }

  .resultsContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 144px;
    }
  }

  .image {
    position: absolute;
    width: 279px;
    height: 240px;
    z-index: -1;
    top: 0rem;
    left: 0rem;
  }

  .cultureContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    width: 270px;
    height: 240px;
    position: relative;
    padding: 5rem 0.5rem 2rem 8.5rem;

    @include mobile {
      padding: 4rem 0.5rem 2rem 8rem;
    }
  }
  .cultureTitle {
    margin-top: 0.5rem;
    color: #3c4452;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: left;

    @include mobile {
      font-size: 1.125rem;
    }
  }

  .cultureAction {
    width: 100%;
    margin-top: 0.5rem;

    a {
      padding: 0;
      height: auto;
      font-size: 0.875rem;
      letter-spacing: 0;
      color: #2f55d3;
    }
  }
}
