// Accordion.module.scss
.accordionItem {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;

  &.selected {
    background-color: #eaeefb;
  }
}

.accordionHeader {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordionTitle {
  margin: 0;
  font-size: 1rem;
  color: #3c4452;
}

.accordionIcon {
  svg {
    width: 0.83rem;
    transform: scale(1.2, 1);
    color: #001a72;
  }
}

.accordionContent {
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #67798a;
  font-size: 14px;

  .description {
    margin-bottom: 1rem;
  }

  .image {
    display: flex;
    justify-content: center;
    img {
    }
    margin-bottom: 2rem;
  }
}
