@import "@/assets/styles/breakpoints.scss";
@import "@/assets/styles/mixins.scss";

$header-animation-time: 0.3s;
$header-in-animation-delay: 0.1s;
$header-out-animation-delay: 0.3s;

@mixin header-menu {
  position: fixed;
  top: -2000px;
  z-index: -10;
  opacity: 0;
  transform: translate(0px, -10px);
  transition: height $header-animation-time ease-in-out,
    opacity $header-animation-time ease-in-out $header-out-animation-delay,
    z-index $header-animation-time ease-in-out $header-out-animation-delay,
    transform $header-animation-time ease-in-out $header-out-animation-delay;
}

@mixin header-menu-hover {
  position: absolute;
  top: 88px;
  opacity: 1;
  z-index: 10;
  transform: translate(0px, 0px);
  transition: height $header-animation-time ease-in-out,
    opacity $header-animation-time ease-in-out $header-in-animation-delay,
    z-index $header-animation-time ease-in-out $header-in-animation-delay,
    transform $header-animation-time ease-in-out $header-in-animation-delay;
}

.headerLink {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &.headerLinkOpen {
    .headerMenu {
      @include header-menu-hover;

      @include mobile {
        display: block;
      }
    }

    .chevron {
      transform: rotate(180deg);
    }
  }

  > span:first-child {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &:focus {
    background-color: red;
  }
}

.chevron {
  transition: transform 0.3s ease-in-out;
}

.headerMenu {
  position: absolute;
  
  top: 88px;
  width: 100vw;
  left: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
  border-bottom: 1px solid #E8E9FA;
  box-shadow: 0px 16px 50px 0px rgba(179, 188, 212, 0.08);

  @include header-menu;

  // &:hover {
  //   @include min-width(lg) {
  //     @include header-menu-hover;
  //   }

  //   @include mobile {
  //     display: block;
  //     @include animFadeInTop;
  //   }
  // }

  @include mobile {
    position: relative !important;
    top: 0 !important;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    display: none;
    margin-top: 1rem;
    box-shadow: none;
  }
}

.headerMenuItems {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 888px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  column-gap: 64px;
  margin-top:2rem;
  margin-bottom: 2.5rem;

  @include mobile {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 0;
    @include animFadeInTop(0.3s, 0.1s);
  }
}

.headerMenuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: #fdfdff;
    border-color: #e8e9fa;
    padding: 15px;
  }

  @include mobile {
    border: none;
    border-radius: 0;
    margin-bottom: 0rem;
  }
}

.headerMenuItemIcon {
  margin-right: 2rem;
}

.headerMenuItemContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.menuItemTitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: #374151;
  padding: 0;
  height: auto;
}

.headerMenuItemDescription {
  color: #374151;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.56px;
}

.comingSoon {
  padding: 4px 8px;
  border-radius: 0.25rem;
  border: 1px solid rgba(29, 148, 34, 0.14);
  background: #ddf8e7;

  color: #59b077;
  font-size: 0.625rem;
  font-weight: 500;
  margin-left: 0.75rem;
}

.active {
  color: #4a7dff !important;
  a {
    color: #4a7dff;
  }
}
