.talkToUs {
  display: flex;
  justify-content: center;

  &:global {
    > a {
      display: inline-flex;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 2.625rem;
      background: linear-gradient(144deg, #4383ff 0%, #6a5cff 100%);
      box-shadow: 0px 1px 2px 0px rgba(26, 57, 137, 0.38);
      color: #eef2fc;
      font-size: 1.3125rem;
      letter-spacing: 0.0525rem;
      text-decoration: none;

      & > img {
        margin-right: 1rem;
      }
    }
  }
}

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
  backdrop-filter: blur(0px);
  opacity: 0;

  &Enter {
    &Active {
      opacity: 0;
      backdrop-filter: blur(0px);
    }
    &Done {
      opacity: 1;
      backdrop-filter: blur(12px);
    }
  }

  &Exit {
    &Active {
      opacity: 0;
      backdrop-filter: blur(0px);
    }
  }
}

.modalContent {
  min-width: 20rem;
  min-height: 20rem;
  align-self: center;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(11.5px);
  padding: 2rem 21px 38px;

  transition: all 0.25s ease;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title {
    color: #1a3989;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.64px;
  }
  .subtitle {
    color: #1a3989;
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: 0.56px;
  }
}

.body {
  margin-top: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  :global {
    p.feedback-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-top: 1.5rem;
      gap: 0.5rem;

      &.submit-row {
        flex-direction: row;
        justify-content: flex-end;
      }

      .label {
        display: inline-flex;
        align-items: center;
        width: 100%;
        color: #1a3989;
        font-size: 0.875rem;
        line-height: 1.4;
        letter-spacing: 0.56px;
        gap: 0.25rem;

        span:first-child {
          font-weight: 500;

          &.optional-text {
            font-weight: 300;
          }
        }
      }
      .feedback-input {
        display: flex;
        border-radius: 0.5rem;
        border: 1px solid rgba(56, 83, 152, 0.4);
        background: none;
        width: 100%;
        min-height: 7rem;
        font-family: Helvetica Neue;
        font-size: 1rem;
        color: #1a3989;
        padding: 0.5rem;
        outline: none;
      }
    }
    .feedback-button {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      background: none;
      color: #1a3989;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;

      &:disabled {
        opacity: 0.7;
      }

      &.feedback-submit {
        font-size: 1.125rem;
        color: #eef2fc;
        background: var(
          --primary-gradient,
          linear-gradient(144deg, #4383ff 0%, #6a5cff 100%)
        );
        box-shadow: 0px 1px 2px 0px rgba(26, 57, 137, 0.38);
      }
    }
  }
}

.feedbackButton {
  position: fixed;
  right: 0;
  top: 300px;
  transform: rotate(-90deg) translate(0, 29px);

  button {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    border: 0;
    outline: none;
    background: var(
      --primary-gradient,
      linear-gradient(144deg, #4383ff 0%, #6a5cff 100%)
    );
    box-shadow: 0px 1px 2px 0px rgba(26, 57, 137, 0.38);
    color: white;
    font-size: 1rem;
    letter-spacing: 0.8px;
    cursor: pointer;
  }
}

.success {
  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &Image {
  }

  &Line1 {
    color: #1a3989;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4; /* 25.2px */
    letter-spacing: 0.72px;
    margin-top: 0.5rem;
  }
  &Line2 {
    color: #1a3989;
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: 0.84px;
  }
  &Close {
    margin-top: 1rem;
    :global {
      button {
        cursor: pointer;
        background: none;
        border-radius: 1.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid rgba(99, 100, 255, 0.16);
        background: linear-gradient(
          144deg,
          rgba(67, 131, 255, 0.08) 0%,
          rgba(106, 92, 255, 0.08) 100%
        );
      }
    }
  }
}
